.secondary-bg-color {
  background-color: #c09578;
}

.link-secondary {
  color: rgb(25, 221, 25);
}

.link-secondary:hover {
  color: rgb(22, 83, 22);
  cursor: pointer;
}

#website-name {
  font-family: "Geologica", sans-serif;
  font-size: 2rem;
  color: rgb(22, 83, 22);
}

@media (min-width: 992px) {
  #website-name {
    margin-left: -17rem;
  }
}

@media (min-width: 1200px) {
  #website-name {
    margin-left: -25rem;
  }
}

.logo {
  width: 5rem;
}

form {
  border: solid 1px rgb(211, 143, 16);
  border-radius: 5px;
}

.input {
  border: none;
}

.input::placeholder {
  padding-left: 0.5rem;
}

.input:focus {
  box-shadow: none;
}

.icon {
  font-size: 1.4rem;
  margin-top: 0.2rem;
  padding-left: 0.5rem;
}

.search {
  border-radius: 0px;
}

.search:hover {
  background-color: rgb(5, 148, 5);
}

.carousel-item img {
  height: 34rem;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgb(5, 148, 5);
}

a {
  text-decoration: none;
  color: black;
}

/*RECIPES*/

#row-recepies .col-12 {
  width: 30rem;
}

@media (min-width: 768px) {
  #row-recepies .col-12 {
    margin-left: 7.5rem;
  }
}

@media (min-width: 992px) {
  #row-recepies .col-12 {
    margin-left: 15rem;
  }
}

@media (min-width: 1200px) {
  #row-recepies .col-12 {
    margin-left: 3.5rem;
  }

  #row-recepies .col-12 .card img {
    height: 15rem;
    object-fit: cover;
  }
}

#row-recepies .col-12:hover {
  cursor: pointer;
}

#row-recepies .col-12 .card {
  border-color: rgb(5, 148, 5);
}

.card-body {
  background-color: rgb(5, 148, 5);
}

.card-body a {
  color: white;
}

/*Footer*/

#footer {
  background-color: rgb(5, 148, 5);
  height: 8rem;
}

#footer .container-sm p,
#footer .container-sm a {
  height: 1rem;
}

#footer .container-sm a:hover {
  cursor: pointer;
}
